*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# remove slurm job script
*.sh
*.out
*.err
*.log
JS-jongro*

# pyenv
.python-version

# node
node_modules

# chrome driver
chrome*

# remove generated data files
*.png
